*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    padding: 7rem;
}

header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    margin-bottom: 3rem;
}

.name > h3{
    font-size: 2.4rem;
}

.contact-info > p{
    display: grid;
    justify-content: end;
}

.head > h2{
    font-size: 2.2rem;
}

.head{
    margin-bottom: 1.4rem;
}

div.skills-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-bottom: 4rem;
}

.experience-box{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto;
    grid-row-gap: 3rem;
}

strong{
    display: block;
}

em{
    line-height: 3;
}

.job_1 > ul, .job_2 > ul{
    padding-left: 1rem;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.education-box{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto;
    grid-row-gap: 2rem;
}

@media screen and (max-width:878px) {
    main{
        padding: 3rem;
    }
    .name > h3{
        font-size: 1.7rem;
    }
}

@media screen and (max-width:590px) {
    main{
        padding: 1.5rem;
    }
    .name > h3{
        font-size: 1.5rem;
    }
    html{
        font-size: 14px;
    }
    div.skills-box{
        display: grid;
        justify-items: end;
    }
}

@media screen and (max-width:375px) {
    main{
        padding: 1rem;
    }
    .name > h3{
        font-size: 1rem;
    }
    html{
        font-size: 11px;
    }
    div.skills-box{
        display: grid;
        justify-items: end;
    }
}


